<a href="https://colab.research.google.com/github/joyshinola-byte/Python-project-2/blob/main/Titanic_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import numpy as np
import pandas as pd

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
file_path ="/content/drive/MyDrive/Colab Notebooks/Titanic-Dataset.csv"

In [59]:
data=pd.read_csv(file_path)

In [60]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [62]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [63]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Titanic-Dataset.csv")
print("First 5 Rows:")
print(data.head())

First 5 Rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [64]:
print("\nDataset Info:")
print(data.info())
print("\nStatistical Summary:")
print(data.describe())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Statistical Summary:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [65]:
print("\nMissing Values:")
print(data.isnull().sum())

data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Embarked"] = data["Embarked"].fillna(data["Embarked"].mode()[0])

print("\nMissing Values After Filling:")
print(data.isnull().sum())

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing Values After Filling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [66]:
print("\nFirst Passenger Details (loc):")
print(data.loc[0])

print("\nFirst 5 Passengers (iloc):")
print(data.iloc[0:5])

print("\nSelected Columns (Age, Fare, Survived):")
print(data[["Age", "Fare", "Survived"]].head())

First Passenger Details (loc):
PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

First 5 Passengers (iloc):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Selected Columns (Age, Fare, Survived):
    Age     Fare  Survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [67]:
data.rename(columns={"Sex": "Gender"}, inplace=True)
print("\nAfter Renaming Sex to Gender:")
print(data.head())

After Renaming Sex to Gender:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [68]:
print("\nPassengers Age > 30:")
print(data[data["Age"] > 30].head())

print("\nPassengers Fare > 50:")
print(data[data["Fare"] > 50].head())

print("\nFemale Passengers Who Survived:")
print(data[(data["Gender"] == "female") & (data["Survived"] == 1)].head())

Passengers Age > 30:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name  Gender   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S

Passengers Fare > 50:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
27           28         0       1
31           32         1       1

                                                 Name  Gender        Age  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
6                             McCarthy, Mr. Timothy J    male  54.000000
27                     Fortune, Mr. Charles Alexander    male  19.000000
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female  29.699118

    SibSp  Parch    Ticket      Fare        Cabin Embarked
1       1      0  PC 17599   71.2833          C85        C
3       1      0    113803   53.1000         C123        S
6       0      0     17463   51.8625          E46        S
27      3      2     19950  263.0000  C23 C25 C27        S
31      1      0  PC 17569  146.5208          B78        C

Female Passengers Who Survived:
   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name  Gender   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [69]:
print("\nSorted by Fare (Highest First):")
print(data.sort_values(by="Fare", ascending=False).head())

print("\nSorted by Age:")
print(data.sort_values(by="Age").head())

Sorted by Fare (Highest First):
     PassengerId  Survived  Pclass                                Name  \
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
88            89         1       1          Fortune, Miss. Mabel Helen
438          439         0       1                   Fortune, Mr. Mark

     Gender   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
438    male  64.0      1      4     19950  263.0000  C23 C25 C27        S

Sorted by Age:
     PassengerId  Survived  Pclass                             Name  Gender  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
469          470         1       3    Baclini, Miss. Helene Barbara  female
644          645         1       3           Baclini, Miss. Eugenie  female
78            79         1       2    Caldwell, Master. Alden Gates    male

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
803  0.42      0      1    2625   8.5167   NaN        C
755  0.67      1      1  250649  14.5000   NaN        S
469  0.75      2      1    2666  19.2583   NaN        C
644  0.75      2      1    2666  19.2583   NaN        C
78   0.83      0      2  248738  29.0000   NaN        S

In [70]:
print("\nSurvival Rate by Gender:")
print(data.groupby("Gender")["Survived"].mean())


print("\nAverage Age by Pclass:")
print(data.groupby("Pclass")["Age"].mean())

print("\nSurvival Count by Embarked:")
print(data.groupby("Embarked")["Survived"].sum())

Survival Rate by Gender:
Gender
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Average Age by Pclass:
Pclass
1    37.048118
2    29.866958
3    26.403259
Name: Age, dtype: float64

Survival Count by Embarked:
Embarked
C     93
Q     30
S    219
Name: Survived, dtype: int64

In [71]:
print("\nAverage Age by Survival Status:")
print(data.groupby("Survived")["Age"].mean())

Average Age by Survival Status:
Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

In [72]:
class_info = pd.DataFrame({
    "Pclass": [1, 2, 3],
    "Class_Type": ["First Class", "Second Class", "Third Class"]
})

merged_data = pd.merge(data, class_info, on="Pclass")

print("\nMerged Data:")
print(merged_data.head())

data_part1 = data.iloc[:100]
data_part2 = data.iloc[100:200]

concat_data = pd.concat([data_part1, data_part2])
print(concat_data.shape)

Merged Data:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked   Class_Type
0      0         A/5 21171   7.2500   NaN        S  Third Class
1      0          PC 17599  71.2833   C85        C  First Class
2      0  STON/O2. 3101282   7.9250   NaN        S  Third Class
3      0            113803  53.1000  C123        S  First Class
4      0            373450   8.0500   NaN        S  Third Class
(200, 12)

In [73]:
print(data.groupby("Survived")["Age"].mean())

print("Highest Fare:", data["Fare"].max())
print("Lowest Fare:", data["Fare"].min())

Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64
Highest Fare: 512.3292
Lowest Fare: 0.0